<div class="my-4">
    <p><strong>Members</strong></p>
    <table class="table table-striped table-sm table-hover">
        <thead>
            <td style="width: 10%;">ID</td>
            <td style="width: 20%;">User</td>
            <td style="width: 70%;"></td>
        </thead>
        <tbody class="table-group-divider">
        <% @members.each do |member| %>
            <tr>
                <td><%= member.id %></td>
                <td><%= member.email %></td>
                <td><% if owner? %>
                        <%= button_to "Remove", remove_member_path(@group.requests.find_by(user: member)), method: :patch, class: "btn btn-danger btn-sm rounded-pill" %>
                    <% end %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>