<menu class="menu" data-controller="group-menu">
    <%= link_to group_path, data: { turbo_frame: :group_content, turbo_action: :advance }, class: "menu__item active", style: "--bgColorItem: #0dcaf0;" do %>
        <svg class="icon" viewBox="0 0 24 24">
            <path d="M3.8,6.6h16.4"/>
            <path d="M20.2,12.1H3.8"/>
            <path d="M3.8,17.5h16.4"/>
        </svg>
    <% end %>

    <% if current_user.member?(group) %>
        <%= link_to messages_path, data: { turbo_frame: :group_content, turbo_action: :advance }, class: "menu__item", style: "--bgColorItem:rgb(4, 101, 121);" do %>
            <svg class="icon" viewBox="0 0 24 24">
                <path  d="M6.7,4.8h10.7c0.3,0,0.6,0.2,0.7,0.5l2.8,7.3c0,0.1,0,0.2,0,0.3v5.6c0,0.4-0.4,0.8-0.8,0.8H3.8
                C3.4,19.3,3,19,3,18.5v-5.6c0-0.1,0-0.2,0.1-0.3L6,5.3C6.1,5,6.4,4.8,6.7,4.8z"/>
                <path  d="M3.4,12.9H8l1.6,2.8h4.9l1.5-2.8h4.6"/>
            </svg>
        <% end %>
    <% end %>

    <% if group.owner?(current_user) %>
        <%= link_to admin_group_path, data: { turbo_frame: :group_content, turbo_action: :advance }, class: "menu__item", style: "--bgColorItem: #4343f5;" do %>
            <svg class="icon" viewBox="-6 -6 36.00 36.00">
                <path d="M24,10c0,3.02-1.34,5.71-3.45,7.55C22.07,15.79,23,13.51,23,11c0-5.52-4.48-10-10-10c-2.51,0-4.79,0.93-6.55,2.45 C8.29,1.34,10.98,0,14,0C19.52,0,24,4.48,24,10z M12,2C8.98,2,6.29,3.34,4.45,5.45C6.21,3.93,8.49,3,11,3c5.52,0,10,4.48,10,10 c0,2.51-0.93,4.79-2.45,6.55C20.66,17.71,22,15.02,22,12C22,6.48,17.52,2,12,2z M20,14c0,5.52-4.48,10-10,10S0,19.52,0,14 C0,8.48,4.48,4,10,4S20,8.48,20,14z M16,13.32h-5.3V8H9.3v5.32H4v1.31h5.3V20h1.39v-5.37H16V13.32z" />
            </svg>
        <% end %>
    <% end %>
 
    <div class="menu__border"></div>
  </menu>

  <div class="svg-container">
    <svg viewBox="0 0 202.9 45.5" >
      <clipPath id="menu" clipPathUnits="objectBoundingBox" transform="scale(0.0049285362247413 0.021978021978022)">
        <path  d="M6.7,45.5c5.7,0.1,14.1-0.4,23.3-4c5.7-2.3,9.9-5,18.1-10.5c10.7-7.1,11.8-9.2,20.6-14.3c5-2.9,9.2-5.2,15.2-7
          c7.1-2.1,13.3-2.3,17.6-2.1c4.2-0.2,10.5,0.1,17.6,2.1c6.1,1.8,10.2,4.1,15.2,7c8.8,5,9.9,7.1,20.6,14.3c8.3,5.5,12.4,8.2,18.1,10.5
          c9.2,3.6,17.6,4.2,23.3,4H6.7z"/>
      </clipPath>
    </svg>
  </div>