<div data-controller="search" class="search-bar-container">
  <form action="<%= events_path %>" method="get" class="search-form" data-search-target="form">
    <div class="search-input-wrapper">
      <i class="fa fa-search search-icon"></i>
      <input type="text" 
             name="query" 
             value="<%= params[:query] %>" 
             placeholder="Search for artists, concerts, venues and festivals" 
             class="search-input" 
             data-search-target="input" />
    </div>
  </form>
</div>
