.chat {
  .message {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
  }

  .message-info {
    opacity: 0.5;
    margin: auto;
    width: fit-content;
    margin-bottom: 5px;
  }

  .message-content {
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    max-width: 70%;
    width: fit-content;
    word-wrap: break-word;
  }

  .message.sent .message-content {
    align-self: flex-end;
    background: $gray-200;
    color: $black;
  }

  .message.received .message-content {
    align-self: flex-start;
    background: $blue;
    color: $white;
  }
}

.messages {
  background-image: url("event-mates-logo.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.messages-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2); /* Semi-transparent background */
}