.dot-received {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 8px;
    z-index: 100;
  }

.dot-sent {
    display: none;
}

.dot-received-profile {
  height: 13px;
  width: 13px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 40px;
  z-index: 100;
}