.tags-page{
  margin-bottom: 20px;
  padding-bottom: 20px;
  background-color: #212121;
}

.tags-title {
  position: absolute;
  bottom: 15px; 
  left: 220px;
  color: gray;
}

.tags-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.tags {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #333333;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #1e1e1e;
}

.tag {
  background-color: transparent; 
  color: #0dcaf0; 
  border: 1px solid #0dcaf0; 
  padding: 8px 15px;
  margin: 5px;
  border-radius: 20px; 
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.tag:hover {
  background-color: #0dcaf0;
  color: #212121;
  border-color: #0dcaf0;
}

.tag.active {
  background-color: #0dcaf0; 
  color: #212121; 
  border-color: #0dcaf0;
}

.tags-save-btn {
  background-color: #198754; 
  color: #212121;
  border: 1px solid #198754;  
  padding: 8px 15px;
  text-decoration: none;
  margin: 5px;
  border-radius: 20px; 
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.tags-save-btn:hover {
  transform: scale(1.02);
}